apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: smanzy
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
    - port: 3000
      targetPort: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: smanzy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: smanzy-frontend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80