apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv
  namespace: smanzy
  labels:
    app: smanzy
    component: postgres
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  hostPath:
    path: /home/ristep/Development/go/smanzary_site/smanzy_data/postgres
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: smanzy
  labels:
    app: smanzy
    component: postgres
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: manual
  selector:
    matchLabels:
      app: smanzy
      component: postgres
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: uploads-pv
  namespace: smanzy
  labels:
    app: smanzy
    component: uploads
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  hostPath:
    path: /home/ristep/Development/go/smanzary_site/smanzy_data/uploads
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uploads-pvc
  namespace: smanzy
  labels:
    app: smanzy
    component: uploads
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: manual
  selector:
    matchLabels:
      app: smanzy
      component: uploads