name: Composer Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 158.220.121.142
          username: ristepan
          password: ${{ secrets.SERVER_PASSWORD }}
          debug: true
          script: |
            set -e
            cd /home/ristepan/smanzari_site
            git pull origin main
            docker compose -f docker-compose.prod.yml up -d --build
            